{{!-- <div class="col">
    <ul class="list-group">
        <li class="list-group-item">I want to to be... <em>Entertained</em></li>
        <li class="list-group-item">I'd like to feel... <em>Grounded</em></li>
    </ul>
</div> --}}


{{!-- 
<button data-state="entertained" current-state="{{current-state}}" class="btn btn-info">
    I want to to be... <em>Entertained</em>
</button>

<button data-state="grounded" current-state="{{current-state}}" class="btn btn-info">
    I want to to feel... <em>Grounded</em>
</button>

<button data-state="amused" current-state="{{current-state}}" class="btn btn-info">
    I want to to feel... <em>Amused</em>
</button>

<button data-state="inspired" current-state="{{current-state}}" class="btn btn-info">
    I want to to feel... <em>Inspired</em>
</button>

<button data-state="cheered-up" current-state="{{current-state}}" class="btn btn-info">
    I want to to feel... <em>Cheered Up!</em>
</button>

<button data-state="motivated" current-state="{{current-state}}" class="btn btn-info">
    I want to to feel... <em>Motivated</em>
</button> --}}